* {
    border: 1px solid black;
    text-align: center;
}

/* main header section */

#title {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding: 20px;
}

body {
    display: flex;
}

/* main click button area */

#game {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    text-align: center;

}

#lab {
    width: 400px;
    height: 400px;
    padding: 1em;
}

#lab:active {
    transform: scale(1.1);
}

/* Item shop stuff */

#head {
    min-width: 100%;
    height: 5vh;
}

.itemShop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 45%;
}

.item {
    padding: 10px;
    flex: 15%;
    /* justify-content: space-evenly; */
}

p {
    padding: 0;
}
/* .dogImage {
    width: 200px;
    height: 200px;
} */